@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fbfcfc;
  --background: #eef1f2;
  --border: #dbe2e3;

  --primary: #3b4f52;
  --primary-dark: #263234;
  --primary-light: #506c70;

  --copy: #212a2b;
  --copy-light: #596f73;
  --copy-lighter: #7e979b;

  --background-image: url("/background-dark.svg");
}

.dark {
  --foreground: #212a2b;
  --background: #161c1d;
  --border: #384648;

  --copy: #fbfcfc;
  --copy-light: #d4dcde;
  --copy-lighter: #9baeb1;

  --background-image: url("/background-light.svg");
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
